@if (!!labelTemplate) {
  <ng-template [ngTemplateOutlet]="star"></ng-template>
  <span class="label">
    <ng-template [ngTemplateOutlet]="labelTemplate"></ng-template>
  </span>
} @else {
  <ng-template [ngTemplateOutlet]="star"></ng-template>
}


<ng-template #star>
  <div class="star" [ngClass]="type">
    @switch (type) {
      @case (types.Filled) {
        <i class="material-icons selected" [style.color]="selectedColor">star</i>
      }
      @case (types.Half) {
        <i class="material-icons selected" [style.color]="selectedColor" [style.width]="halfWidth + '%'">star</i>
        <i class="material-icons unselected" [style.color]="unselectedColor">star</i>
      }
      @case (types.Empty) {
        <i class="material-icons unselected" [style.color]="unselectedColor">star</i>
      }
    }
  </div>
</ng-template>
